<div class="container2">
    <div class="content2">
      <h2>Ensure Safety with Our Guides</h2>

      <p>Download Our comprehensive fire Precaution PDF and Standard Operating Procedure <br>
        (SOP) PDF to equip yourself with vital information and guidelines ensuring a secure and <br>
        prepared environment
      </p>



      <div class="pdf-container1">
        <h3>For Instructors</h3> 
        <a href="../../assets/Images/ Fire Causes and preventive measures in railway coaches-English.pdf" id="download-button1"  download>Download</a>
      </div>

      <div class="pdf-container2">
        <h3>Standard <br>Operation <br> Procedure</h3>
        <a href="../../assets/Images/SOP_Fire_accidents_trains.pdf" id="download-button2" download>Download</a>
      </div>

    </div>

  </div>