<section>
    <div class="contact-container">
        <div class="form-container">
            <h2>Contact US <span class="today">Today!</span></h2>
            <h6>For expert fire extinguisher services ensuring your saftey, reach out to us
                <div>through our contact page. We're here to provide prompt and reliable</div>
                <div>assistance for all your fire saftey needs</div>
            </h6>
            
            <form action="" class="contact-form">
                <input type="text" placeholder="Name*" required>
                <input type="email" name="" id="" placeholder="Email">
                <input type="text" placeholder="Phone Number*" required>
                <input type="text" placeholder="Location*">
                <input type="text" value="What's the Problem?" id="dropdown">
                <input type="submit" value="SEND" class="send-button">
            </form>
        </div>

        <div class="Map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448193.9510830401!2d76.76354809997468!3d28.644287341148946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1704129033748!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="container2">
        <div class="phone-container">
            <span><img src="../../assets/Images/phone-call.png" alt=""></span>
            
            <span class="phone-info">
                <div class="font">PHONE</div> 
                <div class="color"><a href="#">03 5432 1234</a></div>
            </span>
            
        </div>

        <div class="fax-container">
            <span><img src="../../assets/Images/fax.png" alt=""></span>
            <span class="fax-info">
                <div class="font">FAX</div> 
                <div class="color"><a href="#">03 5432 1234</a></div>
            </span>
        </div>

        <div class="email-container">
            <span><img src="../../assets/Images/email.png" alt=""></span>
            <span class="email-info">
                <div class="font">EMAIL</div> 
                <div class="color"><a href="#">info@gmail.com</a></div>
            </span>
        </div>
    </div>
</section>