<div class="body">
    <div class="box1">
        <div class="rectangle1">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
    </div>
    <div>
        <div class="h4">
        <p>Testimonials</p>
    </div>
    <div class="box2">
        <div class="line"></div>
    </div>
        <div class="box">
            <div class="rectangle">
                <div class="inner-box">
                    <img class="img" src="../../assets/Images/img4.jpg">
                    <br>

                    <div class="contain">
                         Marry Welsom
                    </div>
                        <div class="contain1">
                        Glowing Feedback from Indian Railway and Satisfied

                    </div>

                </div>
                <div class="contain2">
                    <div>
                    <img class="img1" src="../../assets/Images/pngwing 1.png">
                </div>

                    <div class="content">
                    <p>
                        "Discover the satisfaction shared by our esteemed clients, <br>including the commendable positive feedback from<br> Indian
                        Railways, showcasing our commitment to <br>excellence and reliable service
                        </p>
                        <img class="img2" src="../../assets/Images/pngwing 2.png">
                    </div>


                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                      </div>

                </div>


            </div>
        </div>
    </div>
    <div class="box1">
        <div class="rectangle1">
            <i class="fa-solid fa-arrow-right"></i>

        </div>
    </div>